# post-release.yml

# Updated workflow file after replacing main branch URLs with master branch URLs

# (Remaining content of post-release.yml)

# Line 231 change

# curl -fsSL https://raw.githubusercontent.com/harmonyvt/capycut/master/install.sh | sh

# Line 257 change

# wget -qO- https://raw.githubusercontent.com/harmonyvt/capycut/master/install.sh | sh

# Line 286 change

# irm https://raw.githubusercontent.com/harmonyvt/capycut/master/install.ps1 | iex